*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight{
  min-height: 100%
}

.header{
  width: null;
  height: 300;
  flex: 1;
}

.App-header {
  background-color: #282c34;
  height: calc(100vh - 59px);
  font-size: calc(10px + 2vmin);
}

.cardSet{
  border: 0
}

.cardBg{
    padding-right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 2rem;
}

.cardBg2{
  padding-right: 0;
  background-color: rgba(0, 0, 0, 0);
  border-top: none;
  border-radius: 2rem;
}


.card {
  border: none !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

